@model StayHealthy.Models.Consult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
